.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #8A2BE2;
  color: white;
  width: 750px;
  margin-top: 50px;
  padding: 10px 20px;
}

.header-link {
  color: white;
  text-decoration: none;
}

.header-link:hover {
  color: #FFD700;
  text-decoration: underline;
}