.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(280px, 95%, 500px);
}

.promoted-products-carousel {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: opacity 0.4s ease-in-out;
}

.carousel-overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.featured-products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.featured-products h2 {
  color: black;
}

.product-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none; 
}

.more-products {
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}

.more-products-message {
  margin: 10px;
}

.carousel-transitioning {
  opacity: 0;
}

.carousel-visible {
  opacity: 1;
}

@media (max-width: 475px) {
  .featured-products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}