.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.promoted-products-carousel {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

.carousel-overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}