body {
  background-color: #EFEFEF;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.main-content {
  background-color: #FFFFFF;
  width: clamp(280px, 95%, 750px);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
} 